:root {
  --bg-base: 8 8 16;
  --bg-layer: 13 13 26;
  --bg-card: 17 17 32;
  --bg-card-hover: 22 22 42;
  --accent: 123 111 224;
  --accent-dim: 123 111 224;
  --accent-glow: 123 111 224;
  --cyan: 79 195 247;
  --cyan-dim: 79 195 247;
  --text-1: 238 238 245;
  --text-2: 142 142 168;
  --text-3: 85 85 104;
  --border: 255 255 255;
  --border-bright: 255 255 255;
}

.light {
  --bg-base: 242 242 247;
  --bg-layer: 250 250 255;
  --bg-card: 255 255 255;
  --bg-card-hover: 248 248 253;
  --accent: 108 95 210;
  --accent-dim: 108 95 210;
  --accent-glow: 108 95 210;
  --cyan: 2 136 209;
  --cyan-dim: 2 136 209;
  --text-1: 26 26 38;
  --text-2: 102 102 128;
  --text-3: 153 153 170;
  --border: 0 0 0;
  --border-bright: 0 0 0;
}
